/* You can add global styles to this file, and also import other style files */
.mt-20{
  margin-top: 20px;
}

.app-button{
  padding: 4px 9px;
  background-color: red;
  color: #fff;
  border: 1px solid red;
  cursor: pointer;
}
